@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


*{
    margin:0;
    padding: 0;
    font-family: "poppings",sans-serif;
}

body{
    display: flex;
    padding: 0 10px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(221, 221, 72);
}

.container{
    width: 440px;
    background: #ffffffc8 ;
    border-radius: 7px ;
}

.container h2{
    font-size: 25px;
    font-weight: 600px;
    padding: 16px 25px;
    border-bottom:1px solid #ccc;
    text-align: center;
}

.container .word{
    font-size: 33px;
    font-weight: 500;
    text-align: center;
    margin-right: -24px;
    letter-spacing: 24px;
    text-transform: uppercase;
    word-break: break-all;
}

.container .content{
    margin: 25px 20px 35px;
}

.container .details{
    margin: 25px 0 20px;
}

.details p{
    font-size: 18px;
    margin-bottom: 10px;
}

.details p{
    font-weight: 500;
}

.content input{
    width: 100%;
    height: 600x;
    outline:none;
    font-size:18px;
    border-radius: 5px;
    border:1px solid #bfbfbf;
}

.content input::placeholder{
    color:#aaa;
}

.content.button{
    display:flex;
    margin-top: 20px;
    justify-content: space-between;
}

.buttons button{
    border:none;
    cursor:pointer;
    color:#fff;
    padding: 15px 0;
    font-size: 17px;
    border-radius:5px;
    transition: all 0.3s ease;border: none;
    width: calc(100%/2 - 8px)
}

.buttons .refresh-word{
    background:grey;
}

.buttons .check-word{
    background: rgb(13, 113, 58);
}

.buttons .check-word:hover{
    background: rgb(71, 176, 64);
}

.buttons .refresh-word:hover{
    background: rgb(221, 43, 43);
}